*:focus{
	outline: 0;
}

.btn{
	padding: 8px;
	border-radius: 5px;
	background-color: gray;
	color: #FFFFFF;
	border: 1px solid #F1E48D;
	cursor: pointer;
	text-align: center;
	vertical-align: center;
	position: absolute;
}

.btn:focus{
	box-shadow: 0 0 10px 0 #E95903;
}

.btn-success{
	background-color: #3FAC33;
	border-color: #53F23C;
}

.btn-success:focus{
	box-shadow: 0 0 10px 0 #067B24;
}

input[type="text"]{
	border-radius: 5px;
	border: 1px solid #B6B8AB;
	width: 100%;
	font-size: 22px;
	padding: 5px;
	box-sizing: border-box;
}